body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/sportimg.jpg");
    background-size: cover;
}
.nav{
    height: 100px;
    width: 80%;
    background-color: grey;
    display: flex;
    align-items: center;
}
.headingxlogo img{
    height: 50px;
    width: 100px;
}
.links{
    width: 500px;
    height: 80px;
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
}
.links a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.links a:hover {
    padding: 7px;
    background-color: orangered;
    border-radius: 5px;
}
.maindiv{
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}
.div1{
    height: 300px;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Teko;
    font-size: 25px;
}
.div1 p{
    margin-top: -20px;
}
.div2{
    height: 300px;
    width: 40%;
    background-color: bisque;
    background-image: url("../images/testimg.jpg");
    border: 1px;
    border-radius: 20px;
    box-shadow: 5px 5px 2px gray;

}
.div3{
    height: 500px;
    width: 80%;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.picture{
    height: 450px;
    width: 48%;
    background-image: url("../images/backgroundimg.jpg");
    background-size: contain;
    border: 3px;
    border-radius: 20px;
    box-shadow: 5px 5px 2px grey;
}
.aboutme{
    height: 450px;
    width: 48%;
    background-color: rgb(168, 154, 154);
    border-radius: 20px;
}
.aboutme h3{
    text-align: center;
}
.headingxlogo{
    height: 80px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
